.index {
    background-image: url('../images/foodiesfeed.com_messy-pizza-on-a-black-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    margin: 0.3rem 0.7rem;
    padding: 0.3rem;
    font-weight: bold;
}
li:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}
.s1 {
    margin: 15rem auto;
    width: 50rem;
    text-align: center;
}
.p1 {
    color: rgb(244, 196, 51);
    font-family: sofia;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 0.3rem 0 0 0;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 0 0 2rem 0;
}
.p2:before, .p2:after {
    content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.3em;
  }
  a {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(244, 196, 51);
      color: black;
      text-decoration: none;
      border-radius: 8px;
      padding: 0.7rem 3rem;
  }
a:hover {
    background-color: rgb(224, 174, 21);
    font-weight: bold;
}
/* PAGE 2*/
.wrapper {
    background-image: url('../images/photo-1594403759253-d670ebf8a4cf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.title {
    margin: 1rem 0 1rem 0;
    font-family: Cabin Sketch;
}
img {
    margin: 0;
}
.s2 {
    background-color: rgba(117, 116, 116, 0.438);
    margin: 1rem auto;
    width: 40rem;
    padding: 1rem;
}
..formtitle {
    font-weight: bold;
}
legend {
    font-weight: bold;
}
fieldset {
    margin: 0 auto;
    width: 35rem;
    margin-bottom: 1.3rem;

}
input {
  background-color: rgba(252, 252, 252, 0.527);
}
input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
    margin: 0.2rem 0 0.5rem 0.3rem;
    border-radius: 8px;
    padding: 0.7rem;
    border: none;
}
.checkbox {
 display: block;
 margin-top: 1rem;
}
button {
    border: none;
    background-color: #D9AF8E;
    border-radius: 8px;
    padding: 0.7rem;
}
button:hover {
    background-color: #dd9660;
    font-weight: bold;
}
footer {
    background-color: rgba(255, 255, 255, 0.877);
    padding: 2rem;
    text-align: center;
}


